<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../static/css/cards.css">
</head>

<body>
    <div class="wrapper">
        <h1>suspect details</h1>


        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <a href="result" target="_blank">
                    <div class="container">
                        <div class="front" style="background-image: url(../static/imgs/WhatsApp\ Image\ 2022-02-06\ at\ 2.58.26\ PM.jpeg)">
                            <div class="inner">
                                <p>Devendra Parihar</p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Crime : Murder</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="temp_output1" target="_blank">
                <div class="container">
                    <div class="front" style="background-image: url(../static/imgs/caught_criminal_is_holding_sign_with_name_identification_photo_character.webp)">
                        <div class="inner">
                            <p>Devi Singh</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Crime : Murder</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <a href="temp_output2" target="_blank">
                    <div class="container">
                        <div class="front" style="background-image: url(../static/imgs/caught_criminal_is_holding_sign_with_name_identification_photo_character.webp)">
                            <div class="inner">
                                <p>Deva </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Crime : Gangster</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <a href="temp_output3" target="_blank">
                    <div class="container">
                        <div class="front" style="background-image: url(../static/imgs/caught_criminal_is_holding_sign_with_name_identification_photo_character.webp)">
                            <div class="inner">
                                <p>Devraj</p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Crime : bank robbery</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>

</body>

</html>