<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ---------  icon------ -->

    <script src="https://kit.fontawesome.com/1eff5ac3a2.js" crossorigin="anonymous"></script>

    <!-- -----------bootstrap----- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- ------------css------- -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>profil</title>
</head>
<body>
    <header id="header_profile">
        <nav class="nav_bar_profil">
            <div class="logo_search_bar">
                <a href="/home"></a>
                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search_bar_input"  type="text" placeholder="search for stories">
                </div>
            </div>
            <div class="icons_bar_profils">
                <ul class="icons_links_profil ">
                    <li class="icon_link home_icon"><a href="/home"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
                 
                
                    <li class="icon_link  "><a href="/notification"><i class="fa-solid fa-bell"></i><span><p>Notifications</p></span></a></li>
                    <li class="icon_link me" id="profil_button">
                        
                        <a href="#" id="link_ckeck_pro"><img id="my_profil" src="../static/css/images/my photo.jpg" alt=""><span><p>My profile<i class="fa-solid fa-caret-down"></i></p></span></a>

                        <div class="profil_link" id="menu_profil">
                            <div class="profil_name_job">
                                <img class="post_photo_profil" src="../static/css/images/my photo.jpg" alt="#">
                                <div class="name_and_job"> 
                                    <h2>anonymous_123</h2> 
                                    <p> citizen of AP</p>
                                </div>
                            </div>
                            <div class="see_my_profil"><a href="/profile">View my profile </a></div>
                            <div class="account">
                            </div>
                        </div>
                    </li>
               
            </div>
        </nav>
    </header>
    
   
    <div class="toggle_header" id="toggle_my_header">
        <div class="toggle_head">
            <div class="profil_names">
                <div class="online">
                    <img class="online" src="../static/css/images/my photo.jpg" alt="#">
                </div>  
                <p><span>anonymous_123</span><br> Citizen of AP</p>
            </div>
          
            <!-- <div class="profil_button"></div> -->
        </div>
    </div>

    <!-- -----------------------left box------------- -->


    <main class="notification_page">
        <div class="not_left-container">
            <h6>Notifications</h6>
            <p>Elderly couple found dead at their residence in Delhi, daughter-in-law held</p>
            <div class="see_favories">
                
            </div>  
        </div>


        <!-- /* ---------center box notification box----- */ -->
        <div class="not_center_container">
            <div class="notification">
                <img class="not_profil_photo"  src="../static/css/images/profil6-min.png" alt="#">
                <div class="notification_photo_name">
                    <p><span> anonymous_234</span> has posted a new story ..</p>
                    <div class="congratulation">
                        <p>tap to view</p>
                    </div>
                </div>
                <div class="publication_time">
                    <span> 22 min </span>
                </div>
            </div>
            <div class="notification ">
                <img class="not_profil_photo" src="../static/css/images/profil8-min.jpg" alt="#">
                <div class="notification_photo_name">
                    <p><span>anonymous_234</span> has joined in Bihar crime stories group...</p>
                    <div class="publication_img_text">
                        <img src="../static/css/images/o vs clone.jpg" alt="">
                        <p>#Justice#Crime #Police #web <br> #cybercrime</p>
                    </div>
                    <p>11 reactions . 20 commentaires</p>
                </div>
                <div class="publication_time">
                    <span> &nbsp;&nbsp; &nbsp;&nbsp; 28 min </span>
                </div>
            </div>
            <div class="notification checked">
                <img  class="not_profil_photo" src="../static/css/images/logo4-min.png" alt="#">
                <div class="notification_photo_name">
                    <p><span>NAC SERVICE</span>has posted a new update 🚨 #Bachelor #Cybersécurité 🚨 ..</p>
                </div>
                <div class="publication_time">
                    <span>&nbsp;&nbsp;  29 min  </span>
                </div>
            </div>
            <div class="notification checked">
                <img class="not_profil_photo" src="../static/css/images/profil5-min.jpg" alt="#">
                <div class="notification_photo_name">
                    <p><span>anonymous_789</span>posted about"Police recover 6-7 country-made grenades in North Delhi area"</p>
                    <div class="publication_img_text">
                        <img src="../static/css/images/o vs clone.jpg" alt="">
                        <p>#Justice#Crime #Police #web <br> #cybercrime </p>
                    </div>
                    <p>11 reactions . 55 commentaires</p>
                </div>
                <div class="publication_time">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp; 30 min  </span>
                </div>
            </div>
            <div class="notification checked">
                <img class="not_profil_photo" src="../static/css/images/profil5-min.jpg" alt="#">
                <div class="notification_photo_name">
                    <p><span>anonymous_009</span>posted about"3 men arrested for attempting to set woman on fire in Bengal"</p>
                    <div class="publication_img_text">
                        <img src="../static/css/images/o vs clone.jpg" alt="">
                        <p>#Justice#Crime #Police #web <br> #cybercrime </p>
                    </div>
                    <p>11 reactions . 55 commentaires</p>
                </div>
                <div class="publication_time">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp; 30 min  </span>
                </div>
            </div>

        <!-- -----------right box---------- -->

    

        <div class="sms_container">
            <div class="message_input_container" >
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="message_input" id="search_message" type="text" placeholder="Rechercher dans les messages" onkeyup="dynamicSearch()">
                <i class="fa-solid fa-sliders"></i>
            </div>
            <div class="meassage_profil_container" >
                <div class="message_profils_sider">
                    <a href="messagerie.html">
                        <div class="message_profil_item message_one others_message">
                            <div class="message_profil_photo">
                                <img src="../static/css/images/profil2-min.jpg" alt="">
                            </div>
                            <div class="message_profil_name_and_text">
                                <p><span class="name_pro">anonymous_234</span>&nbsp; &nbsp; &nbsp;  <span class="message_profil_date">20 avr.</span>
                                    <i class="fa-solid fa-envelope"></i>
                                    <i class="fa-solid fa-comment-slash"></i>
                                </p>
                                                           
                            </div>
                        </div>
                    </a>

                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil17.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">anonymous_789</span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   <span class="message_profil_date">19 avr.</span> <i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                           
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil9-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">George Clement</span> &nbsp; <span class="message_profil_date">19 avr.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>George:I will let you know</p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil8-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p> <span class="name_pro">Christoph Rode</span> &nbsp; &nbsp; <span class="message_profil_date">15 avr.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Christoph: Je viens <br> recevoir ton cv</p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil5-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">Sindy Rose</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <span class="message_profil_date">13 avr.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Sindy: Why did you <br> send it here?</p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil3-min.jpeg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p> <span class="name_pro">Jean Marc</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <span class="message_profil_date">6 avr.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>jean: JQue voulais-tu <br> me dire hier?</p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil4-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">Eunice Sie </span> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<span class="message_profil_date">5 avr.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Eunice: Are you interesting  <br> for an internship? </p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil10-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">Rodriguo  </span> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <span class="message_profil_date">20 mar.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Rodriguo: Pas de soucis je <Br> te ferai signe.</Br></p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil11.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p> <span class="name_pro">Patric </span> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <span class="message_profil_date">10 mar.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Patric: La vie n'est pas facile</p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil8-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p> <span class="name_pro">Hoane louis </span> &nbsp; &nbsp;&nbsp; &nbsp; <span class="message_profil_date">11 fev.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Hoane: j'ai rien a dire </p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil16.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p> <span class="name_pro">Jonas louis </span> &nbsp; &nbsp;&nbsp; &nbsp; <span class="message_profil_date">11 fev.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Jonas: j'ai rien a dire </p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil8-min.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">Xavier </span> &nbsp; &nbsp;&nbsp; &nbsp; <span class="message_profil_date">11 fev.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Xavier: j'ai rien a dire </p>
                        </div>
                    </div>
                    <div class="message_profil_item others_message">
                        <div class="message_profil_photo">
                            <img src="../static/css/images/profil11.jpg" alt="">
                        </div>
                        <div class="message_profil_name_and_text">
                            <p><span class="name_pro">Pral vie</span> &nbsp; &nbsp;&nbsp; &nbsp; <span class="message_profil_date">11 fev.</span><i class="fa-solid fa-envelope"></i>
                                <i class="fa-solid fa-comment-slash"></i></p>
                            <p>Pral: j'ai rien a dire </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </article>
    <script src="index.js"></script>
</body>
</html>