<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ---------  icon------ -->

    <script src="https://kit.fontawesome.com/1eff5ac3a2.js" crossorigin="anonymous"></script>

    <!-- -----------bootstrap----- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- ------------css------- -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>profile</title>
</head>
<body>
    <header id="header_profile">
        <nav class="nav_bar_profil">
            <div class="logo_search_bar">
                <a href="/home"></a>
                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search_bar_input"  type="text" placeholder="search for stories">
                </div>
            </div>
            <div class="icons_bar_profils">
                <ul class="icons_links_profil ">
                    <li class="icon_link home_icon"><a href="/home"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
                 
                
                    <li class="icon_link  "><a href="/notification"><i class="fa-solid fa-bell"></i><span><p>Notifications</p></span></a></li>
                    <li class="icon_link me" id="profil_button">
                        
                        <a href="#" id="link_ckeck_pro"><img id="my_profil" src="../static/css/images/my photo.jpg" alt=""><span><p>My profile<i class="fa-solid fa-caret-down"></i></p></span></a>

                        <div class="profil_link" id="menu_profil">
                            <div class="profil_name_job">
                                <img class="post_photo_profil" src="../static/css/images/my photo.jpg" alt="#">
                                <div class="name_and_job"> 
                                    <h2>anonymous_123</h2> 
                                    <p> citizen of AP</p>
                                </div>
                            </div>
                            <div class="see_my_profil"><a href="/profile">View my profile </a></div>
                            <div class="account">
                            </div>
                        </div>
                    </li>
               
            </div>
        </nav>
    </header>
    
   
    <div class="toggle_header" id="toggle_my_header">
        <div class="toggle_head">
            <div class="profil_names">
                <div class="online">
                    <img class="online" src="../static/css/images/my photo.jpg" alt="#">
                </div>  
                <p><span>anonymous_123</span><br> Citizen of AP</p>
            </div>
          
            <!-- <div class="profil_button"></div> -->
        </div>
    </div>

    <!-- ----------------left box---------------- -->
    <main class="profil_page">
        <section class="left_box">
            <div class="profil_info" id="pro_info">
                <div class="backgound_and_profil">
                    <i class="fa-solid fa-pencil"></i>
                    <img class="background_img" src="../static/css/images/my background 2.jpg" alt="#">
                    <img class="profil_pic" src="../static/css/images/my profil profil.jpg" alt="#">
                </div>
                <div class="personnal_info_profil">
                    <i class="fa-solid fa-pencil"></i>
                    <div class="name_and_school">
                        <h2>anonymous_123</h2>
                        <p>citizen of AP</p>
                           
                        
                    </div>
                    <h4>Citizen of AP</h4>
                    
                    </P>
                   <div class="profil_button">
                   </div>
                   <div class="profil_blocks">
                       <div class="block1">
                           <p><Span> Ex-employee of fintech firm, 2 others arrested for duping ICICI Bank customers <br>The victim</Span>Harish received a call from.. </p>
                           <span class="x"> <i class="fa-solid fa-x"></i></span>
                       </div>
                       <div class="block2">
                           <p><span>Gang war in Tihar Jail, Lawrance Bishnoi's gang member Prince Tewatia killed</p>
                           <span class="x"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            
            
                    
                </div>
                
                
            </div>
                
            </div>

           

            <div class="activity">
                <div class="actity_title">
                    <div class="title">
                        <h4>Activity</h4>
                        <h6>16 posts</h6>
                    </div>
                    <div class="start_new_post">
                        <p>start a story</p>
                    </div>
                </div>
                <div class="old_post poss">
                    <p class="name"><span>anonymous_123</span> 13 hrs ago</p>
                    <span class="old_post_video"> <i class="fa-solid fa-circle-play"></i><img src="../static/css/images/phot20.jpg" alt="#"></span>
                </div>

                <div class="old_post">
                    <p class="name"><span>anonymous_123</span>2 days ago</p>
                    <div class="video_comment">
                        <span class="old_post_video"><img src="../static/css/images/phot21.png" alt="#">
                        </span>
                        <p>A Lawrence Bishnoi gang member was killed in a gang war in Delhi's Tihar Jail on Friday.</p>
                    </div>
                </div>
       
                <div class="old_post">
                    <p class="name"><span>anonymous_123</span>1 week ago</p>
                    <div class="video_comment">
                        <span class="old_post_video"> <i class="fa-solid fa-circle-play"></i><img src="../static/css/images/phot20.jpg" alt="#">
                        </span>
                        <p>Woman accuses cop of sexual harassment inside police station in Bengaluru <br> <br> The incident took place on April 8 when the woman went to the police station to give a witness statement in a divorce case.&nbsp; <a href="#"> ...View more</a> </p>
                    </div>
                </div>
                <div class="old_post last_post">
                    <p class="name"><span>anonymous_123</span>8d ago</p>
                    <div class="video_comment">
                        <span class="old_post_video"><img src="../static/css/images/photo23.png" alt="#">
                        </span>
                        <p>Elderly couple found dead at their residence in Delhi, daughter-in-law held<br>
                            Daughter-in-law has been held after an elderly couple was found dead with their throats slit at their residence in northeast Delhi’s Gokalpuri on Monday.<a href="#"> ...View more</a> </p>
                    </div>
                </div>
                <div class="show_more_res more_act">
                    <p class="click_more">view more<i class="fa-solid fa-right-long"></i></p>
                </div>
            </div>      
        </section>


        <!-- ------------ right box=---- -->
        
        <article class="right_container right_box " id="right_box">
            <div class="switch_lang">
                <div class="languages_box">
                    <div class="english"><p>English</p></div>
                    <i class="fa-solid fa-globe"></i>
                </div>
                <div class="modification"><p><a href="#">Modify profile </a> <i class="fa-solid fa-circle-question"></i></p></div>
            </div>

            <!-------follow peolpe----- -->

                <div class="follow_people">
                    <h3>see stories from your place</h3>
                    <div class="profil_name_job">
                        <img class="post_photo_profil" src="../static/css/images/profil12.jpg" alt="#">
                        <div class="name_and_job second_name"> 
                            <h5>anonymous_234</h4>
                            <p>Delhi man kills sick wife for not cooking food, and being 'lazy’</p>
                        </div>
                    </div>
                    <div class="follow_button fol_button"><a href="#">view more</a></div>
                </div>
    
                <div class="follow_people">
                    <div class="profil_name_job second_name">
                        <img class="post_photo_profil" src="../static/css/images/profil4-min.jpg" alt="#">
                        <div class="name_and_job"> 
                            <h5>anonymous_789</h4>
                            <p>Crypto fraud: Mumbai woman duped by conman on matrimonial site, loses Rs 24 lakh</p>
                        </div>
                    </div>
                    <div class="follow_button fol_button"><a href="#"> view more</a></div>
                </div>
    
                <div class="follow_people follow_last">
                    <div class="profil_name_job second_name">
                        <img class="post_photo_profil" src="../static/css/images/profil16.jpg" alt="#">
                        <div class="name_and_job"> 
                            <h5>anonymous_999</h4>
                            <p>Chandigarh: Three involved for nightclub attack nabbed; five others put under preventive arrest</p>
                        </div>
                    </div>
                    <div class="follow_button fol_button"><a href="#"> View more</a></div>
                </div>
                <div class="see_all_suggestion "><span>see more</span><i class="fa-solid fa-angle-down"></i></div>
    
    </main>
    <!-- ----------footet profil page-- -->
    
</html>